.toaster-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 10px 20px;
    z-index: 10;
    position: absolute;
    top: 5%;
    left: 50%;
    background-color: rgb(75, 42, 165);
    color: var(--color-white);
}