.titulo-verProductos {
  height: 200px;
}
.carrito-vacio{
  display: flex;
  justify-content: center;
  align-items: center;
}

.carrito-vacio{
  display: flex;
  flex-direction: column;
}

.verPedido-body{
  display: flex;
  justify-content: center;
  gap: 20px;
}
