<div class="checkpedido-container card">
  <div class="checkpedido-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">P. Unitario</th>
          <th scope="col">Sesiones</th>
          <th scope="col">Subtotal</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of carrito; index as i; first as isFirst">
          <td>{{producto.nombre}}</td>
          <td>${{producto.precio}}</td>
          <td>{{producto.cantidadSesiones}}</td>
          <td>${{producto.cantidadSesiones * producto.precio}}</td>
        </tr>
      </tbody>
    </table>
    <div class="checkpedido-total">
      <h5 class="mb-1">Total: ${{total}}</h5>
    </div>
    <div class="checkpedido-botones">
      <small class="text-muted"
        >Por favor, revisar el carrito antes de realizar la compra.</small
      >
      <button class="btn btn-success">Comprar</button>
    </div>
  </div>
</div>
