<div [formGroup]="formGroup" class="formularioCambiarPassword" >
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label"
      >Ingrese nueva contraseña</label
    >
    <input type="password" class="form-control" id="cambioPassword" formControlName="password" />
  </div>

  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label"
      >Repite la contraseña</label
    >
    <input type="password" class="form-control" id="repetirCambioPassword" formControlName="repassword" />
  </div>

  <div class="mb-3">
    <input
      class="w-100 btn btn-lg btn-primary"
      (click)="cambiarPassword()"
      type="submit"
      value="Cambiar contraseña"
    />
  </div>
</div>
