html,
body,
#fullheight {
  min-height: 100% !important;
  height: 100%;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  --color-primary: #008ad6;
  --color-white: #fff;
  --color-black: #000;
  --color-gray: rgb(163, 163, 163);
}

